In [9]:
import pandas as pd

data=pd.read_csv("Downloads/dataset/births (1).txt")
print(data)

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [13]:
print(data.isnull().sum())

year        0
month       0
day       480
gender      0
births      0
dtype: int64

In [15]:
print(data.dropna())

       year  month   day gender  births
0      1969      1   1.0      F    4046
1      1969      1   1.0      M    4440
2      1969      1   2.0      F    4454
3      1969      1   2.0      M    4548
4      1969      1   3.0      F    4548
...     ...    ...   ...    ...     ...
15062  1988     12  29.0      M    5944
15063  1988     12  30.0      F    5742
15064  1988     12  30.0      M    6095
15065  1988     12  31.0      F    4435
15066  1988     12  31.0      M    4698

[15067 rows x 5 columns]

In [19]:
print(data.fillna("sonu"))

       year  month   day gender  births
0      1969      1   1.0      F    4046
1      1969      1   1.0      M    4440
2      1969      1   2.0      F    4454
3      1969      1   2.0      M    4548
4      1969      1   3.0      F    4548
...     ...    ...   ...    ...     ...
15542  2008     10  sonu      M  183219
15543  2008     11  sonu      F  158939
15544  2008     11  sonu      M  165468
15545  2008     12  sonu      F  173215
15546  2008     12  sonu      M  181235

[15547 rows x 5 columns]

In [31]:
print(data['day'].mean())

17.769894471361255

In [33]:
print(data)

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [37]:
print(data.fillna(method="ffill")) #upper wale value of niche fill karna is called forward  fill

       year  month   day gender  births
0      1969      1   1.0      F    4046
1      1969      1   1.0      M    4440
2      1969      1   2.0      F    4454
3      1969      1   2.0      M    4548
4      1969      1   3.0      F    4548
...     ...    ...   ...    ...     ...
15542  2008     10  31.0      M  183219
15543  2008     11  31.0      F  158939
15544  2008     11  31.0      M  165468
15545  2008     12  31.0      F  173215
15546  2008     12  31.0      M  181235

[15547 rows x 5 columns]

C:\Users\sonu singh\AppData\Local\Temp\ipykernel_29572\2373199802.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="ffill"))